kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: adtech-demo
nodes:
  - role: control-plane
    kubeadmConfigPatches:
      - |
        kind: InitConfiguration
        nodeRegistration:
          kubeletExtraArgs:
            node-labels: "ingress-ready=true"
    extraPortMappings:
      # Quarkus Receiver JVM
      - containerPort: 30070
        hostPort: 8070
        protocol: TCP
      # Quarkus Receiver Native
      - containerPort: 30071
        hostPort: 8071
        protocol: TCP
      # Go Receiver
      - containerPort: 30072
        hostPort: 8072
        protocol: TCP
      # Rust Receiver
      - containerPort: 30073
        hostPort: 8073
        protocol: TCP
      # Quarkus Sinker
      - containerPort: 30074
        hostPort: 8074
        protocol: TCP
      # Prometheus
      - containerPort: 30090
        hostPort: 9090
        protocol: TCP
      # Grafana
      - containerPort: 30000
        hostPort: 3000
        protocol: TCP
      # ArgoCD
      - containerPort: 30443
        hostPort: 8443
        protocol: TCP
  - role: worker
  - role: worker
