{{- if .Values.jaeger.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: jaeger
  namespace: {{ .Values.namespace }}
  labels:
    app: jaeger
    {{- include "quarkus-adtech-demo.labels" . | nindent 4 }}
spec:
  type: {{ .Values.serviceType }}
  {{- if eq .Values.serviceType "NodePort" }}
  ports:
    - name: jaeger-ui
      port: 16686
      targetPort: 16686
      nodePort: 30686
      protocol: TCP
    - name: otlp-grpc
      port: 4317
      targetPort: 4317
      protocol: TCP
    - name: otlp-http
      port: 4318
      targetPort: 4318
      protocol: TCP
  {{- else }}
  ports:
    - name: jaeger-ui
      port: 16686
      targetPort: 16686
      protocol: TCP
    - name: otlp-grpc
      port: 4317
      targetPort: 4317
      protocol: TCP
    - name: otlp-http
      port: 4318
      targetPort: 4318
      protocol: TCP
  {{- end }}
  selector:
    app: jaeger
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jaeger
  namespace: {{ .Values.namespace }}
  labels:
    app: jaeger
    {{- include "quarkus-adtech-demo.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.jaeger.replicas }}
  selector:
    matchLabels:
      app: jaeger
  template:
    metadata:
      labels:
        app: jaeger
    spec:
      containers:
        - name: jaeger
          image: {{ .Values.jaeger.image }}
          imagePullPolicy: {{ .Values.infrastructureImagePullPolicy }}
          env:
            - name: COLLECTOR_OTLP_ENABLED
              value: "true"
          ports:
            - containerPort: 16686
              name: jaeger-ui
            - containerPort: 4317
              name: otlp-grpc
            - containerPort: 4318
              name: otlp-http
            - containerPort: 14250
              name: grpc
          resources:
            {{- toYaml .Values.jaeger.resources | nindent 12 }}
          livenessProbe:
            httpGet:
              path: /
              port: 16686
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: 16686
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
{{- end }}
